.style-navbar {
	margin-bottom: 3px;
}

nav.navbar.navbar-inverse.navbar-fixed-top{
	border-top-width: 4px;
	border-top-color: darkorange;
	border-bottom-color: darkgray
}
nav .navbar-inner{
	background-color: white;
}


#first-word-title {
	font-weight: normal;
	color: darkgray
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.placeholder {
	padding: 0px, 50px;
	margin: 14px;
	width: 200px;
	text-align: left;
}

.logo{
	font-size: 20pt;
	font-style: oblique;
	font-weight: bolder;
}

.active-users{
	list-style-type: none;
	color: black; 
	text-align: left;
	margin: 10px -35px;
}

.active-users a{
	color: black;
}

.tags-like-dislike{
	margin-top: 20px;
	margin-bottom: 0px;
}

.like-dislike{
	padding-right: 0px;
}

.tags{
	margin-left: 20px;
}

.right-block{
	margin-left: 10%;
}

.login-register-header{
	margin-top: 8px;
}

.btn-login-header{
	background-color: white;
	border-color: cornflowerblue;
	text-decoration: none;
}

.btn-login-header a{
	color: cornflowerblue;
}

.btn-register-header{
	background-color: cornflowerblue;
	text-decoration: none;
}

.btn-register-header a{
	color: white;
}

.blue-text-color{
    color: cornflowerblue;
}
