{% extends "base.html" %}

{% block nav-collapse %}
    {% include "nav-with-login.html" %}
{% endblock %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}

{% block content %}
    <p class="tag-for-search">New questions</p>

    {% for item in objects %}
        <div class="row question-answer">
            <div class="col-xs-8 col-sm-2 col-picture">
                <img src="/img/avatar2.jpg" alt="question1" height="50" width="50" class="img-rounded">
            </div>
            <div class="col-xs-4 col-sm-10 col-question">
                <dl>
                    <dt class="headlines-answer-question">
                        <a href="{% url 'question' %}{{ item.id }}/">{{ item.title }}</a>
                    </dt>
                    <dd>
                        {{ item.text }}
                    </dd>
                </dl>

                <div class="row tags-like-dislike">
                    <div class="col-xs-8 col-sm-6">
                        <div class="main-answers-and-tags">
                            <a href="/question/{{ item.id }}/">Answers ...</a>
                            <span class="tags">Tags:</span>
                            <a href="{% url 'tag' %}{{ item.tagOne }}/">{{ item.tagOne }}</a>
                            <a href="{% url 'tag' %}{{ item.tagTwo }}/">{{ item.tagTwo }}</a>
                        </div>
                    </div>

                    <div class="col-xs-8 col-sm-6 like-dislike">
                        <div class="questions-list-btn-group btn-group">
                            <button class="btn btn-link btn-sm"><img src="/img/dislike.png" alt="Dislike icons"
                                                                     height="18" width="18" class="img-rounded">
                            </button>
                            <button class="btn btn-link btn-sm green-mark count-like" disabled="disabled">+1</button>
                            <button class="btn btn-link btn-sm"><img src="/img/like.png" alt="Dislike icons" height="18"
                                                                     width="18" class="img-rounded"></button>
                        </div>
                    </div>
                </div><!--/.tags and like/dislike -->
            </div>
        </div> <!--/.question1 -->

    {% endfor %}

{% endblock %}


{% block pagination %}
    {% include "paginator.html" %}
{% endblock %}



