<div class="block">
    <p class="headlines-right-col">
        <font>Popular Tags</font>
    </p>

    <div id="widgettags">
        <p>
            <a class="t6" href="*">PostgreSQL</a>
            <a class="t2" href="*">Chrome</a>
            <a class="t9" href="*">Java</a>
        </p>
        <p>
            <a class="t1" href="*">Opera</a>
            <a class="t3" href="*">StackOverflow</a>
            <a class="t10" href="*">C++</a>
        </p>
        <p>
            <a class="t8" href="*">Python</a>
            <a class="t7" href="*">Perl</a>
            <a class="t4" href="*">Firefox</a>
            <a class="t5" href="*">MVC</a>
        </p>
    </div>
</div>

<div class="best-members">
    <div class="block">
        <p class="headlines-right-col">Best members</p>
        <ul class="active-users">
            <li><a href="/index-login.html">Mr.Freeman</a></li>
            <li><a href="#gorub">Gorub</a></li>
            <li><a href="#maks">Maks</a></li>
            <li><a href="#fikus">Fikus</a></li>
            <li><a href="#alex">Alex</a></li>
            <li><a href="#rr">RR</a></li>
            <li><a href="#apolon">Apolon</a></li>
        </ul>
    </div>
</div>